In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [3]:
for num in mylist:
    print('num')

num
num
num
num
num
num
num
num
num
num

In [4]:
for num in 'divine':
    print(num)

d
i
v
i
n
e

In [5]:
#check for even
for num in mylist:
    if num%2 == 0:
        print(num)

2
4
6
8
10

In [8]:
#check for even
for num in mylist:
    if num%2 == 0:
        print(num)
    else:
        print(f'odd number: {num}')

odd number: 1
2
odd number: 3
4
odd number: 5
6
odd number: 7
8
odd number: 9
10

In [10]:
list_sum = 0

for item in mylist:
    list_sum = list_sum + item
print(list_sum)

55

In [ ]:
mystring = 'Hello World!'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d
!

In [14]:
#thought I'd have some fun with it ;)
mystring = 'Hello World!'

firstletter = 1

for letter in mystring:
    print(f'{letter}{mystring[firstletter:]}')
    firstletter += 1

Hello World!
ello World!
llo World!
lo World!
o World!
 World!
World!
orld!
rld!
ld!
d!
!

In [15]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [16]:
#tuple unpacking
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [17]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [18]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [19]:
for (a,b) in mylist:
    print(a)

1
3
5
7

In [20]:
#iterate through a dictionary
d = {'k1':1,'k2':2,'k3':3}

for items in d:
    print(items)

k1
k2
k3

In [22]:
#iterate through a dictionary
d = {'k1':1,'k2':2,'k3':3}

for key,value in d.items():
    print(key)

k1
k2
k3

In [23]:
#iterate through a dictionary
d = {'k1':1,'k2':2,'k3':3}

for key,value in d.items():
    print(value)

1
2
3